<%- include('partials/header') -%>
<main>
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <h1 class="w-bold">UniKey</h1>
            <h2 class="mt-5 text-center">Enter your height & weight to generate a key, then search for reviews uploaded with that key, to get a visual representation of how clothing would fit before you decide to buy them.</h2>
            <div  aria-label="Basic mixed styles example" class="mt-5">
              <a href="/login" type="button" class="btn btn-outline-success w-25 fs-2 mt-3">Login</a>
              <a href="/signup" type="button" class="btn btn-outline-danger w-25 fs-2 mt-3">Signup</a>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer') -%>